body {
  cursor: default;
}

.row {
  margin: 0;
}

/* header */

.face {
  background: url(../img/head-bg1.jpg) no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  color: #fff;

}

.main-hi {
  margin-top: 150px;
}

.face h1 {
  font-size: 3em;
  font-weight: 800;
  margin-bottom: .6em;
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  .face h1 {
    font-size: 2.2em;
  }
}

.face h3 {
  font-weight: 500;
  font-size: 1.9em;
  margin: 1.1em 0 0 0;
  text-transform: uppercase;
}

.face h5 {
  font-size: 1.5em;
  font-weight: 200;
  margin-top: 1em;
}

.buy-btn {
  color: #fff;
  margin-top: 25px;
  padding: 15px 80px;
  display: inline-block;
  font-size: 1.4em;
  text-decoration: none;
  background: #FF5B44;
  text-transform: uppercase;
}

/* header */

/* section #2 */

.kniga {
  background: #eceff1;
  padding: 20px 0 20px 0;
}

.book h2 {
  color: #FF5B44;
  margin-bottom: 30px;
}

.book h2:after {
  content: '';
  display: block;
  height: 2px;
  width: 2em;
  background: #FF5B44;
  margin-top: 15px;
  margin-bottom: 18px;
  margin-right: auto;
  margin-left: auto;
}

.book img {
  margin-top: 25px;
  height: 480px;
  border-right: 2px solid #DCDCDC;
}

@media screen and (max-width: 1200px) {
  .book img {
    height: 320px;
  }
}

.margin-text {
  margin-top: 0em;
  text-align: left;
}

.margin-text h5 {
  color: #FF5B44;
  margin-left: 0.7em;  
}

.margin-text p {
  color: #757575;
  margin-left: 1em;  
}

/* /section #2 */

/* section #3 */

.who-im {
  background: #f5f5f5;
  padding-bottom: 30px;
}

.ilya h2 {
  margin: 0;
  padding: 25px 0 40px 0;
  color: #FF5B44;
}

.ilya h2:after {
  content: '';
  display: block;
  height: 2px;
  width: 3.5em;
  background: #FF5B44;
  margin-top: 15px;
  margin-bottom: 18px;
  margin-right: auto;
  margin-left: auto;
}

.ilya img {
  height: 350px;
  margin-top: 20px;
}

@media screen and (min-width: 690px max-width: 992px) {
  .ilya img  {
    height: 300px;
  }
}

@media screen and (max-width: 690px) {
  .ilya img  {
    height: 240px;
  }
}

.ilya p {
  color: #757575;
}

/* /section #3 */

/* section #4 */

.sliders {
  background: #eceff1;
  color: #757575;
  padding: 40px 0 50px 0;
}

.sliders h2 {
  margin: 0;
  margin-bottom: 40px;
  color: #FF5B44;
}

.sliders h2:after {
  content: '';
  display: block;
  height: 2px;  
  width: 8em;
  background: #FF5B44;
  margin-top: 15px;
  margin-bottom: 18px;
  margin-right: auto;
  margin-left: auto;
}

.image-h img {
  height: 210px;
}

.marg-top {
  margin-top: 50px;
}

.margi-top {
  margin-top: 70px;
}

/* /section #4 */

/* section #5 */

.price {
  background: #FF5B44;
  padding: 50px 0;
}

.price h2 {
  color: #f5f5f5;
  margin: 0;
}

.price h2:after {
  content: '';
  display: block;
  height: 2px;  
  width: 4em;
  background: #f5f5f5;
  margin-top: 10px;
  margin-bottom: 18px;
  margin-right: auto;
  margin-left: auto;
}

.price h3 {
  color: #FF5B44;
  margin-bottom: 20px;
  margin-top: 0;
}

.price h3 span {
  color: #F13015;
  text-transform: uppercase;
  font-weight: 500;
}

.block {
  background: #f5f5f5;
  padding: 50px 0;
  margin-top: 50px;
  border-radius: 0.5%;
}

.block img {
  height: 450px;
  margin-top: 50px;
}

.cost {
  display: inline-block;
}

.cost-block {
  margin-bottom: 50px;
}

.cost-block h5 {
  font-size: 40px;
  color: #dcdcdc;
  vertical-align: middle;
  text-decoration: line-through;
}

.cost-block i:before {
  font-size: 30px;
  margin-left: 5px;
  color: #dcdcdc;
  vertical-align: middle;
}

.cost-n {
  display: inline-block;
}

.cost-block h4 {
  font-size: 65px;
  color: #FF5B44;
  vertical-align: middle;
}

.cost-block span:before {
  font-size: 40px;
  margin-left: 5px;
  color: #FF5B44;
  vertical-align: middle;
}

.buy-button {
  color: #fff;
  margin-top: 15px;
  padding: 12px 70px;
  font-size: 1.4em;
  text-decoration: none;
  background: #FF5B44;
  text-transform: uppercase;
}

.buy-button-1 {
  color: #fff;
  margin-top: 20px;
  padding: 10px 60px;
  font-size: 1.2em;
  text-decoration: none;
  background: #FF5B44;
  text-transform: uppercase;
}

.block-btn h5 {
  margin: 50px 0 15px 0;
  font-size: 1.3em;
}

/* /section #5 */

/* footer */

.end {
  background: #f5f5f5; 
}

.end a {
  text-decoration: underline;
  margin-left: 4px;
}


/* /footer */